# Connect to your own agent with one of the following. Leave both blank to connect to the
# LiveKit homepage agent.

# Development token server ID from your project's Settings page in LiveKit Cloud.
# https://docs.livekit.io/frontends/build/authentication/development-token-server/
LIVEKIT_TOKEN_SERVER_ID=

# Otherwise use LiveKit credentials for the included token endpoint (app/api/token/route.ts).
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME=
